@font-face {
    font-family: 'K2D';
    src: url(font/K2D/K2D-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'K2D';
    background-image: url('img/13416.webp');
    margin: 0;
    padding: 0;
    max-width: 1080px;
    justify-self: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
}

@keyframes height-menu {
    0% {
        height: 0px;
    }
    100% {
        height: 35svh;
    }
}

@keyframes text-menu {
    from {
        width: 0px;
        opacity: 0;
    }
    to {
        width: 40svw;
        opacity: 1;
    }
}

.text-animation {
    animation-delay: 550ms;
    animation-name: text-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.text-animation2 {
    animation-delay: 650ms;
    animation-name: text-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.text-animation3 {
    animation-delay: 750ms;
    animation-name: text-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.text-animation4 {
    animation-delay: 850ms;
    animation-name: text-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.open {
    animation-name: height-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

#product-image {
    object-fit: none;
    object-position: center;
}


.containere {
    max-width: 1080px;
    background-color: #fff;
    padding: 2rem 2rem 3rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-self: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

.product-info {
    display: flex;
    gap: 2rem;
}

.product-info img {
    width: 300px;
    height: auto;
    border: 1px solid #ddd;
}

.details {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}

#mobile {
    display: block;
    background-color: #E2E2E2;
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid black;
    height: auto;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



#Menu {
    justify-items: center;
    height: 30svh;
    width: 100svw; 
    background-color: #E2E2E2; 
    display: none;
    max-width: 1076px;
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    justify-self: center;
}

#Menu h2 {
    opacity: 0;
    border-bottom: 2px solid black;
    padding-top: 30px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

#Menu a {
    width: 100svw;
    font-size: x-large;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

nav ul li:first-child  {
    height: 50px;
    width: auto;
    margin-left: 0px;
    margin-right: auto;
}

nav ul li img {
    height: 50px;
    width: auto;
    align-self: center;
}

nav {
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    height: 50px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    align-content: center;
}

#contact {
    padding: 40px 0px 0px 0px;
    border-top: 2px solid black;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

#contact p {
    margin: 0px 15px 15px 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 30px;
    font-size: x-large;
    font-weight: 600;
    border-bottom: 2px solid black;
}

#text-input {
    width: 85svw;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #ffffff;
    padding-left: 10px;
    font-size: x-large;
    border: 1px solid black;
    max-width: 560px;
}

#logoes {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#logoes img {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
}

#logoes img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

#end {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: smaller;
    color: #979797;
    margin: 0px 40svw 0px 40svw;
}


#main_form {
    background-color: white;

}

h1 {
    margin: 0px;
    padding: 20px 0px 0px 10px;
}

h2 {
    margin: 0px;
    padding: 20px 0px 0px 10px;
}

h3 {
    margin: 0px;
    padding: 20px 0px 0px 10px;
}

#faq {
    margin: 25px 0px 0px 0px;
    padding: 0px 0px 25px 0px;
    display: grid;
    columns: auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

#faq h2 {
    grid-area: 1 / 1 / 3 / 3;
    padding-left: 30px;
}

#faq h3 {
    padding-left: 35px;
}

#faq p {
    padding-left: 30px;
}

#form2 {
    padding: 30px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

#label1 {
    align-self: center;
}

#message {
    align-self: center;
    width: 200px;
    height: 130px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #ffffff;
    padding-left: 10px;
    font-size: x-large;
    border: 3px solid black;
    max-width: 560px;
}

#name {
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #ffffff;
    padding-left: 10px;
    font-size: x-large;
    border: 3px solid black;
    max-width: 560px;
}

#submit12 {
    grid-area: 2 / 1 / 2 / 3;
    margin-top: 30px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #000000;
    padding-left: 10px;
    font-size: x-large;
    border: 3px solid black;
    max-width: 560px;
    justify-self: center;
    color: white;
}

#submit12:hover {
    background-color: #ffffff;
    color: black;
    transition: all 0.3s ease-in-out;
}

#email {
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #ffffff;
    padding-left: 10px;
    font-size: x-large;
    border: 3px solid black;
    max-width: 560px;
}

#label {
    font-size: x-large;
    font-weight: 500;
    margin: 30px 20px 30px 40px;
}



#end h4 {
    margin-bottom: 40px;
}

#end img {
    margin: 20px 0px 5px 0px;
}

footer {
    background-color: #E2E2E2;
}

@media (max-width: 600px) {

    .product-info {
        display: grid;
        grid-row: 1 / 2;
        flex-direction: row;
        width: 100svw;
        justify-items: center;
    }

    .containere {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
        text-align: center;
        padding: 45px 0px 45px 0px;
    }

    #Menu {
        justify-items: center;
        height: 92svh;
        width: 100svw; 
        background-color: #E2E2E2; 
        display: none;
        border: none;
    }

    #Menu h2 {
        width: 90vw;
        border-bottom: 2px solid black;
        padding-top: 30px;
        margin: 0px 0px 0px 0px;
    }

    body {
        background-size: none;
        background-repeat: none;
        background-position: none;
        background-image: none;
        justify-self: normal;
    }

    #end {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    @keyframes height-menu {
        0% {
            height: 0px;
        }
        100% {
            height: 92svh;
        }
    }

    @keyframes text-menu {
        from {
            width: 0px;
            opacity: 0;
        }
        to {
            width: 90svw;
            opacity: 1;
        }
    }

}