@font-face {
    font-family: 'K2D';
    src: url(font/K2D/K2D-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: K2D;
}

a{
    text-decoration: none;
    color: black;
}

#button-qwe {
    margin: 20px 15px 15px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    border-width: 0px;
    background-color: gray;
    color: white;
    font-size: large;
    font-weight: 600;
    border: 1px solid gray;
}

#button-qwe:hover {
    background-color: #E2E2E2;
    color: black;
    border: 1px solid gray;
    transition: all 0.3s ease-in-out;
}


#descktop {
    display: none;
}


#mobile {
    display: block;
    background-color: #E2E2E2;
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid black;
    height: auto;
    align-content: center;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#Menu {
    z-index: 2;
    justify-items: center;
    width: 100svw; 
    background-color: #E2E2E2; 
    display: none;
    position: absolute;
}

@keyframes height-menu {
    0% {
        height: 0px;
    }
    100% {
        height: 92svh;
    }
}

@keyframes text-menu {
    from {
        width: 0px;
        opacity: 0;
    }
    to {
        width: 90svw;
        opacity: 1;
    }
}

.text-animation {
    animation-delay: 550ms;
    animation-name: text-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.text-animation2 {
    animation-delay: 650ms;
    animation-name: text-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.text-animation3 {
    animation-delay: 750ms;
    animation-name: text-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.text-animation4 {
    animation-delay: 850ms;
    animation-name: text-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.open {
    animation-name: height-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}


#Menu h2 {
    opacity: 0;
    border-bottom: 2px solid black;
    padding-top: 30px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

#Menu a {
    width: 100svw;
    font-size: x-large;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

nav ul li:first-child  {
    height: 50px;
    width: auto;
    margin-left: 0px;
    margin-right: auto;
}

nav ul li img {
    height: 50px;
    width: auto;
    align-self: center;
}

nav {
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    height: 50px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    align-content: center;
}


#main_slider img{
    width: 100svw;
    height: 92svh;
    object-fit: contain;
    object-position: center;
}

#current_slider {
    position: relative;
    bottom: 55px;
    width: 100%;
    height: 50px;
    display: flex;
}

.progresBox_default {
    height: 6px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.progresBox_curent {
    opacity: 0.6;
    height: 3px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border: 2px solid rgb(255, 255, 255);
    
}

#featured {
    margin-top: 30px;
}

#featured h2 {
    margin: 0px 15px 20px 10px;
    padding-left: 10px;
    border-bottom: 3px solid black;
    font-size: x-large;
}


.square {
    position: relative;
    top: 5px;
    right: 10px;
    width: 8px;
    height: 8px;
    background-color: black;
    transform: rotate(45deg);
}

.square-1 {
    position: relative;
    left: 10px;
    top: -25px;
    right: 10px;
    width: 8px;
    height: 8px;
    background-color: black;
    transform: rotate(45deg);
}

#news-m {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-self: center;
    justify-content: center;
    
}

#news-m p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    font-size: large;
    font-weight: 600;
}

#news-m h2 {
    margin: 30px 15px 20px 10px;
    padding: 0px 10px 0px 10px;
    border-bottom: 3px solid black;
    font-size: x-large;
    margin-bottom: 30px;
}

#news-w {
    display: none;
}


#news-m img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#slides {
    margin-bottom: 30px;
}

#slides h2{
    margin: 0px 15px 20px 10px;
    padding-left: 10px;
    border-bottom: 3px solid black;
    font-size: x-large;
    font-family: K2D;
    margin-top: 60px;
}

#CPU {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    position: relative;
    justify-self: center;
    height: 451px;
}

#CPU img {
    width: 100%;
    height: 194px;
}

#CPU-main {
    margin: -15px 0px 20px 0px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: large;
    height: 120px;
}

#CPU-titlu {
    font-size: x-large;
    font-weight: 600;
    margin: 0px 15px 20px 10px;
    padding-left: 10px;
    border-bottom: 3px solid black;
}

#button-more {
    display: flex;
    flex: wrap;
    height: auto;
    justify-content: end;
    padding-top: auto;
}


#CPU button {
    color: white;
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-width: 0px;
    margin-right: 10px;
}

#CPU:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 20px 0 rgba(0,0,0,0.19);
}


.slidecontainer {
    margin-top: 10px;
    width: 90%;
    justify-self: center;
}
  
 
.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
 
.slider:hover {
    opacity: 1;
}
  
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 70px;
    height: 13px;
    border-radius: 5px;
    background: #888888; 
    cursor: pointer; 
}
  
.slider::-moz-range-thumb {
    width: 70px;
    height: 13px;
    border-radius: 5px;
    background: #04AA6D; 
    cursor: pointer; 
}

#contact {
    margin: 0px 0px 0px 0px;
    border-top: 2px solid black;
    justify-items: center;
}

#contact p {
    margin: 0px 15px 15px 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 30px;
    font-size: x-large;
    font-weight: 600;
    border-bottom: 2px solid black;
}

#text-input {
    width: 85svw;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #ffffff;
    padding-left: 10px;
    font-size: x-large;
    border: 1px solid black;
}

#logoes {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#logoes img {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
}

#logoes img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

#end {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: smaller;
    color: #979797;
    margin: 0px 40svw 0px 40svw;
}

#end h4 {
    margin-bottom: 40px;
}

#end img {
    margin: 20px 0px 5px 0px;;
}

.carousel {
    width: 100%;
    overflow: hidden;
}
.slides1 {
    display: flex;
    transition: transform 0.5s;
}
.slide {
    flex: 0 0 100%;
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #E2E2E2;
}

@media (min-width: 800px) {


    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: right;
        list-style-type: none;
    }

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        font-family: Arial, sans-serif;
        font-weight: 700;
    }

    #this {
        display: none;
    }

    #Menu {
        justify-items: center;
        height: 30svh;
        width: 100%; 
        background-color: #E2E2E2; 
        display: none;
        position: absolute;
        border-bottom: 2px solid black;
    }
    
    #Menu h2 {
        width: 50svw;
        border-bottom: 2px solid black;
        padding-top: 30px;
        margin: 0px 0px 0px 0px;
    }

    nav ul li img {
        height: 60px;
        width: auto;
        align-self: center;
        padding-left: 5px;
    }
    
    nav {
        align-items: center;
    }
    
    nav ul li {
        height: 60px;
        margin: 0;
        padding: 0;
        margin-left: 10px;
        align-content: center;
    }

    @keyframes height-menu {
        0% {
            height: 0px;
        }
        100% {
            height: 35svh;
        }
    }

    @keyframes text-menu {
        from {
            width: 0px;
            opacity: 0;
        }
        to {
            width: 90svw;
            opacity: 1;
        }
    }

    #text-input {
        max-width: 40svw;
    }

    .carousel {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 30%));
        justify-content: center;
        height: auto;
        overflow: hidden;
        padding-bottom: 60px;
    }
    
    #CPU {
        display: grid;
        padding-bottom: 10px;
        grid-row: 1 / 2;
        grid-template-rows: auto 1fr; 
        height: 100%;
    }

    #slides1 {
        height: 100%;
    }

    #CPU-main {
        height: auto;
    }

    #CPU button {
        margin-top: 25px;
        margin-right: 5px;
    }

    #slides {
        height: auto;
    }



    .slidecontainer {
        display: none;
    }


    #slides h2{
        font-size: xx-large;
    }

    #current_slider {
        max-width: 40svw;
        justify-self: center;
    }

    #CPU:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 0px 40px 0 rgba(0,0,0,0.19);
        transform: scale(1.005);
        transition: all 0.3s ease-in-out;
    }

    #descktop {
        height: 20px;
        display: block;
        background-color: #E2E2E2;
        margin: 0px;
        padding: 0px 20px 0px 10px;
        align-content: center;
    }

    #descktop h2{
        margin: 0px;
        padding: 1px 0px 1px 0px;

    }

    .desk-bord {
        border-bottom: 0px solid black;
        transition: border-bottom 0.095s ease-in-out;
    }

    .desk-bord:hover {
        border-bottom: 3px solid black;
    }

    #news {
        width: 100%;
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, 30%);
    }

    #featured h2 {
        font-size: xx-large;
    }

    #news-m{
        display: none;
    } 

    #news-w{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: center;
        height: 100%;
    }

    #news-a-1, #news-a-2 {
        margin: 25px 20px 5px 20px;
        border: black 2px solid;
        border-radius: 10px;
        min-height: 100%;
    }

    #news-a-1 p, #news-a-2 p {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    #button-more button:hover {
        background-color: #E2E2E2;
        color: black;
        transition: all 0.3s ease-in-out;
    }


    #news-a-1 img, #news-a-2 img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    #news-a-1:hover, #news-a-2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transform: scale(1.01);
        transition: all 0.3s ease-in-out;
    }


}